<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.model.mappers.app.ApArticleConfigMapper">
    <resultMap id="BaseResultMap" type="com.heima.model.article.pojos.ApArticleConfig" >
        <id column="id" property="id"/>
        <result column="article_id" property="articleId" />
        <result column="is_comment" property="isComment"/>
        <result column="is_forward" property="isForward" />
        <result column="is_down" property="isDown"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List" >
    id, article_id, is_comment, is_forward, is_down, is_delete
  </sql>
    <!-- 通过文章ID查询文章配置 -->
    <select id="selectByArticleId" resultMap="BaseResultMap" parameterType="int" >
        select <include refid="Base_Column_List" /> from ap_article_config where article_id = #{articleId}
    </select>
    <insert id="insert" parameterType="com.heima.model.article.pojos.ApArticleConfig">
    insert into ap_article_config (article_id,is_comment,is_forward,is_down,is_delete) values(
    #{articleId},#{isComment},#{isForward},#{isDown},#{isDelete}
    );
</insert>
</mapper>