<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.model.mappers.app.ApAssociateWordsMapper" >
    <resultMap id="BaseResultMap" type="com.heima.model.article.pojos.ApAssociateWords" >
        <id column="id" property="id"/>
        <result column="associate_words" property="associateWords"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>
    <sql id="Base_Column_List" >
    id, associate_words, created_time
  </sql>

    <select id="selectByAssociateWords" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from ap_associate_words
        where associate_words like #{searchWords} limit #{limit}
    </select>
</mapper>